*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-image: url("../assets/images/sakura.jpg");
    background-repeat: no-repeat;
    background-position: 0%
}

header{
    position: relative;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    width: 100%;
    height: 100px;
}

header h1{
    text-align: center;
    padding-top: 30px;
    
}

section div{
    padding-top: 30px;
    width: 30%;
    height: 180px;
    margin: 40px;
    margin-left: 120px;
    border: 1px solid grey;
    background-color: white;
    padding: 10px;
}

section h1{
    padding-bottom: 10px;
}

section div p{
    padding-bottom: 5px; 
    font-size: 18px;
}
section h4{
    margin-top: 45px;
    color: cadetblue;
}


form{
    position: relative;
    float: right;
    width: 35%;
    margin-bottom: 60px;
    bottom: 240px;
    margin-right: 180px;
    background-color: white;
    height: 180px;
    padding: 20px;
}

form textarea{
    outline: 1px solid purple;
    width: 100%;
    height: 100px;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
}

form button{
    padding: 15px;
    color: #fff;
    background: cornflowerblue;
    border-radius: 25px;
    margin-top: 25px;
}

form p{
    position: absolute;
    right: 50px;
    bottom: 30px;
    font-size: 22px;
}

.blue{
    color: cornflowerblue;
}

.red{
    color: red;
}

.green{
    color: green;
}

.form{
    border-radius: 10px;
    background-color: white;
    width: 50%;
    padding: 10px;
    margin: 0px auto;
}