*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    
    position: relative;
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    width: 100%;
    height: 100px;
}

header div h1{
    position: relative;
    text-align: center;
    top: 35px;
}

header h4{
    margin-top: 85px;
}
section div{
    padding-top: 30px;
    width: 40%;
    height: 150px;
    margin: 40px;
    border: 1px solid grey;
}

form{
    position: relative;
    outline: 1px solid blue;
    float: right;
    width: 50%;
    margin-bottom: 60px;
    bottom: 220px;
    margin-right: 40px;
}

textarea{
    outline: 1px solid purple;
    width: 100%;
}

form button{
    padding: 15px;
    color: #fff;
    background: cornflowerblue;
    border-radius: 25px;
}