*{
    margin: 0px;
    padding: 0px;
    font-family: 'Josefin Sans', sans-serif;
}

header{
    outline: 1px solid red;
    position: relative;
    text-align: center;
}

form{
    outline: 1px solid blue;
    text-align: center;
}

textarea{
    outline: 1px solid purple;
}